@import "../../styles";

section.row.booking {
    grid-template-columns: 1fr 500px 1fr;
    border-top: solid $highlight-light;

    @media screen and (max-width: 600px) {
        display: block;
    }
}

section.boooking {
    grid-template-columns: 1fr 4fr 1fr;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;

    @media screen and (max-width: 600px) {
        padding-left: 5%;
        padding-right: 5%;
    }
    @media screen and (max-width: 475px) {
        padding-left: 0px;
        padding-right: 0px;
    }
}

h1.booking {
    font-size: 48px;
    margin: 40px 0px 10px 0px;
    @media screen and (max-width: 500px) {
        margin: 10px 0px 10px 0px;
    }
}

h2.booking {
    color: $primary-yellow;
    font-size: 36px;
}
h3.booking {
    color: $primary-grey;
}

#booking-form-box {
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: $highlight-light;
    border-radius: $rounded-radius;
    padding: 30px 40px 10px 40px;

    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;

    @media screen and (max-width: 600px) {
        width: auto;
        padding-left: 8%;
        padding-right: 8%;
    }
}

form {
    display: grid;
    gap: 20px;
    width: 100%;

    div {
        width: 100%;
    }
}

label {
    font-size: 18px;
    font-family: $p-font-family;
    font-weight: 600;
    display: block;
    color: $primary-grey;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    border-radius: $rounded-radius/2;
    font-family: $p-font-family;
    font-size: 16px;
    color: $primary-grey;
}
select {
    width: 100%;
    padding: 10px;
    border-radius: $rounded-radius/2;
    font-size: 16px;
    color: $primary-grey;
    font-family: $p-font-family;
}

.form-error {
    font-family: $p-font-family;
    color: red;
    font-weight:500;
}

#submit-button {
    width: 200px;
    height: 50px;
    border-radius: $rounded-radius;
    background-color: $primary-yellow;
    border: none;
    color: $highlight-light;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
}

#submit-button:disabled {
    background-color: #cfcfcf;
}

#submit-button:hover:enabled {
    background-color: #e4bf02;
}

#submit-button:active:enabled{
    scale: 1.05;
}

#occasion-optional {
    font-size: 12px;
    display: inline;
}
#occasion-label {
    display: inline;
    margin-right: 5px;
}