@import "../styles";

header {
    padding-top: 25px;
    padding-bottom: 25px;

    .row-content {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    img:first-of-type {
        flex-grow: 0;
    }

    nav {
        margin-left: auto;
        margin-right: 0px;
    }

    ul {
        display: flex;
        flex-direction: row;
        flex-shrink: 1;
        flex-wrap: wrap;
    }

    li {
        display: inline-block;
        margin: 10px;
        width: auto;
    }

    a {
        font-family: Karla, sans-serif;
        font-size: 16px;
        color: $primary-grey;
        text-decoration: none;
    }
    a:hover {
        color: black;
    }

    button {
        display: none;
        background-color: white;
    }
    button:hover {
        background-color: white;
    }
}



@media only screen and (max-width: 750px) {
    header {
        button {
            display: inline;
            margin-left: auto;
        }

        .row-content {
            flex-wrap: wrap;
            display: flex;
        }
        img {
            display: inline;
        }
        #hamburger-menu {
            margin-left: auto;
            margin-right: 0px;
        }
        ul {
            width: 100%;
        }
        nav {
            margin-left: 0px;
            margin-top: 20px;
        }
        li {
            display: block;
            width: 100%;
        }
    }
}


