@import "../styles";

header {
    padding-top: 25px;
    padding-bottom: 25px;
}

header .row-content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

header img:first-of-type {
    flex-grow: 0;
}

header nav {
    margin-left: auto;
    margin-right: 0px;
}

header ul {
    display: flex;
    flex-direction: row;
    flex-shrink: 1;
    flex-wrap: wrap;
}

header li {
    display: inline-block;
    margin: 10px;
    width: auto;
}

header a {
    font-family: Karla, sans-serif;
    font-size: 16px;
    color: $primary-grey;
    text-decoration: none;
}

header button {
    display: none;
    background-color: white;
}
header button:hover {
    background-color: white;
}

@media only screen and (max-width: 750px) {
    header button {
        display: inline;
        margin-left: auto;
    }

    header .row-content {
         flex-wrap: wrap;
         display: flex;
    }
    header img {
        display: inline;
    }
    #hamburger-menu {
        margin-left: auto;
        margin-right: 0px;
    }
    header ul {
        width: 100%;
    }
    header nav {
        margin-left: 0px;
        margin-top: 20px;
    }
    header li {
        display: block;
        width: 100%;
    }
}

// @media only screen and (max-width: 580px) {
//     header nav {
//         justify-content: center;
//     }
//     header ul {
//         min-width:auto;
//     }
//     header li {
//         margin-top: 5px;
//         margin-bottom: 5px;
//     }
// }

//@media only screen and (max-width: 430px) {
//    header img {
//        width: 125px;
//        height: auto;
//    }
//}
