@import "../styles";


#hero-section {
background-color: $primary-grey;

    article {
        display: flex;
        flex-direction:column;
        justify-content: center;

        button {
        margin-bottom: 40px;
        width: 160px;
        height: 60px;
        background-color: $primary-yellow;
        color: $highlight-light;
        font-weight:600;
        border-radius: $rounded-radius;
        border-width: 0px;
        }
    }

    h1 {
        color: $primary-yellow;
        margin-top: 40px;
    }
    h2 {
        color: $highlight-light;
        margin-top: 20px;
    }
    p {
        margin-top: 20px;
        margin-bottom: 20px;
        color: $highlight-light;
        max-width: min(65ch, 75%);
    }

    img {
        width: 100%;
        border-radius: $rounded-radius;
    }
}

#hero-row-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
}

button {
    font-family: $p-font-family;
    font-size: 16px;
}


#specials-row {
    grid-template-columns: 1fr 6fr 1fr;

    h1 {
        color:$primary-grey;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    #specials-section {
        display: flex;
        flex-direction: row;
        gap: 20px;
        margin-bottom: 40px;
        justify-content: center;
        flex-wrap: wrap;
    }
}

.special {
    display: flex;
    flex-direction: column;
    background-color: $highlight-light;
    border-radius: $rounded-radius;
    flex: 0 0 260px;
    min-height: 400px;

    img {
      width: 100%;
      max-height: 180px;
      border-radius: $rounded-radius;
      flex: 0;
    }

    a {
      margin-top: auto;
      margin-bottom: 0px;
      flex: 0;
      font-weight: bold;
    }
}

.card-body {
    display: flex;
    flex-direction: column;
    padding: 15px;
    flex: 1;
}
.card-header{
    display: flex;
    flex: 0;
}
.card-title {
    display: inline;
}
.card-price {
    display: inline;
    margin-left: auto;
    color: $primary-yellow;
}
.card-description {
    margin-top: 10px;
    margin-bottom: 10px;
    flex: 1;
}


#customers-say-row{
    grid-template-columns: 1fr 6fr 1fr;

    h1 {
        margin-top: 80px;
        margin-bottom: 30px;
    }
}

#testimonials-section {
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap:wrap;
    justify-content: center;
}
#testimonials-section {
    margin-bottom: 80px;
}
.testimonial {
    background-color: $highlight-light;
    border-radius: $rounded-radius;
    width: 200px;
    display: flex;
}
.testimonial-body {
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: nowrap;
    flex: 1 1;

    p {
        margin-bottom: 10px;
        flex: 1 1;
    }
}
.testimonial-profile {
    width: 100px;
    aspect-ratio: 1/1.5;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    flex: 0 1;
}
.review-star {
    width: 20px;
    height: 20px;
    flex: 0 1;
}