@import "../styles";


#hero-section {
background-color: $primary-grey;

    .row {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    article {
        display: flex;
        flex-direction:column;
        justify-content: center;

        button {
        margin-bottom: 40px;
        width: 160px;
        height: 60px;
        background-color: $primary-yellow;
        color: $highlight-light;
        font-weight:600;
        border-radius: $rounded-radius;
        border-width: 0px;
        }
    }

    h1 {
        color: $primary-yellow;
        margin-top: 40px;
    }
    h2 {
        color: $highlight-light;
        margin-top: 20px;
    }
    p {
        margin-top: 20px;
        margin-bottom: 20px;
        color: $highlight-light;
        max-width: min(65ch, 75%);
    }

    img {
        border-radius: $rounded-radius;
        position: absolute;
        height: 500px;
        width: auto;
        top: 0;
        right: 0;
    }
    @media only screen and (max-width: 1100px) {
        img {
            height: 475px;
            width: auto;
        }
    }
    @media only screen and (max-width: 880px) {
        img {
            height: 425px;
            width: auto;
            display: block;
            margin-left: auto;
            margin-right: auto;
            position: static;
        }
    }

    .row-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
    }
    @media only screen and (max-width: 600px) {
        .row-content {
            display: block;
        }
    }
}

#hero-right {
    position: relative;
}

button {
    font-family: $p-font-family;
    font-size: 16px;
}

@media only screen and (min-width: 1250px) {
    #specials-row {
        grid-template-columns: 1fr 6fr 1fr;
    }
}
#specials-row {
    padding-top: 70px;
    padding-bottom: 70px;

    h1 {
        color:$primary-grey;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    #specials-section {
        display: flex;
        flex-direction: row;
        gap: 20px;
        margin-bottom: 40px;
        justify-content: center;
        flex-wrap: wrap;
    }
}

.special {
    display: flex;
    flex-direction: column;
    background-color: $highlight-light;
    border-radius: $rounded-radius;
    flex: 0 0 260px;
    min-height: 400px;

    img {
      width: 100%;
      max-height: 180px;
      border-radius: $rounded-radius;
      flex: 0;
    }

    a {
      margin-top: auto;
      margin-bottom: 0px;
      flex: 0;
      font-weight: bold;
    }
}

.card-body {
    display: flex;
    flex-direction: column;
    padding: 15px;
    flex: 1;
}
.card-header{
    display: flex;
    flex: 0;
}
.card-title {
    display: inline;
}
.card-price {
    display: inline;
    margin-left: auto;
    color: $primary-yellow;
}
.card-description {
    margin-top: 10px;
    margin-bottom: 10px;
    flex: 1;
}


#customers-say-section {
    background-color: $primary-grey;

    h1 {
        color: $primary-yellow;
        text-align: center;
    }
}


#customers-say-row{
    display: block;
    padding-top: 100px;
    padding-bottom: 125px;

    h1 {
        margin-bottom: 30px;
    }
}

#testimonials-section {
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap:wrap;
    justify-content: center;
}
.testimonial {
    background-color: $highlight-light;
    border-radius: $rounded-radius;
    width: 200px;
    display: flex;
}
.testimonial-body {
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: nowrap;
    flex: 1 1;

    p {
        margin-bottom: 10px;
        flex: 1 1;
    }
}
.testimonial-profile {
    width: 100px;
    aspect-ratio: 1/1.5;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    flex: 0 1;
}
.review-star {
    width: 20px;
    height: 20px;
    flex: 0 1;
}

#info-section {
    min-height: 500px;
    h2 {
        color: $primary-yellow;
    }

    img {
        width: 300px;
        border-radius: $rounded-radius;
    }
}
#info-row-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    padding-top: 100px;
    padding-bottom: 100px;
}
#info-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 50%;
    flex-shrink: 1;
}
#info-right {
    max-width: 500px;
    min-width: 350ox;
    width: 100%;
    height: 350px;
    position: relative;
    //margin-top: 100px;
    //margin-bottom: 100px;
    flex-shrink: 0;
}
#info-img-1 {
    position: absolute;
    top: 0px;
    left: 0px;
}
#info-img-2 {
    position: absolute;
    bottom: 0px;
    right: 0px;
}
@media only screen and (max-width: 850px) {
    #info-row-content {
        display: block;
    }
    #info-left {
        margin-bottom: 50px;

        p {
            max-width: 500px;
        }
    }
    #info-right {
        margin-left: auto;
        margin-right: auto;
    }
}